#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+all future=+lfs
export PYBUILD_CONFIGURE_ARGS=-DPYVER={version}
export PYBUILD_NAME=dartpy
export PYBUILD_SYSTEM=cmake

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DBUILD_SHARED_LIBS=ON \
		-DCMAKE_SKIP_INSTALL_RPATH=ON \
		-DDART_SKIP_FLANN=ON \
		-DDART_SKIP_PAGMO=ON \
		-DDART_VERBOSE=ON \
		-DDARTPY_PYTHON_VERSION=3

execute_after_dh_auto_build:
	dh_auto_build -- dartpy

execute_after_dh_auto_install:
	rm -f debian/tmp/usr/share/doc/dart/data/screencap/.KEEP

execute_before_dh_auto_test:
	dh_auto_build -- tests

override_dh_compress:
	dh_compress \
            -X.hpp -X.h -X.c -X.cpp \
            -X.dae -X.obj -X.stl -X.STL \
            -X.sdf -X.skel -X.urdf -X.vsk -X.world \
            -X.c3d -X.changelog -X.dof -X.path -X.tris

execute_before_dh_link:
	jdupes -rl debian/dart-doc/usr
