#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_strip:
	dh_strip -plibkido-gui-osg0.1 --dbg-package=libkido-gui-osg0.1-dbg
	dh_strip -plibkido-gui0.1 --dbg-package=libkido-gui0.1-dev
	dh_strip -plibkido-optimizer-ipopt0.1 --dbg-package=libkido-optimizer-ipopt0.1-dev
	dh_strip -plibkido-optimizer-nlopt0.1 --dbg-package=libkido-optimizer-nlopt0.1-dev
	dh_strip -plibkido-planning0.1 --dbg-package=libkido-planning0.1-dev
	dh_strip -plibkido-utils0.1 --dbg-package=libkido-utils0.1-dev
	dh_strip -plibkido0.1 --dbg-package=libkido0.1-dev

%:
	dh $@ --parallel --buildsystem=cmake
